{% extends 'main.html' %}

{% load static %}


{% block content %}


<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="{% static 'imagenes/pepsi.jpg' %}" class="d-block mx-lg-auto img-thumbnail" alt="Bootstrap Themes" width="700"
                height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">{{equipo.nombre}}</h1>
            <p class="lead">Base de datos para el respaldo y análisis de datos de predictivo online tomados con ultrasonido y vibraciones.
                Análisis de tendencias en todos los equipos de los sectores productivos de planta para mejorar la confiabilidad de nuestros
                equipos y lograr las metas de producción.
            </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Login</button>
                <button type="button" class="btn btn-outline-secondary btn-lg px-4">Buscar Equipo</button>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="container m-5">
        <form method="POST" action="">
            {% csrf_token %}

            {{form.as_p}}

            <input type="submit" value="Submit">
        </form>
</div>


{% endblock %}